header.header
    nav.nav.nav--user
        if user
            a.nav__el(href='/statistics')
                span= user.username
        else
            a.nav__el(href='/login') Log In
            a.nav__el(href='/signUp') Sign Up
    nav.nav
        a.nav__el(href='/') Home
        a.nav__el(href='/statistics') Statistics
        a.nav__el(href='/console') Race Track
        a.nav__el(href='/dictionary') Dictionary
        if user
            a#logoutBtn.nav__el Logout

