extends base

mixin listEntry(_id, fontSize, text, opacity)
    p(id= _id, translate = "no", style=`font-size: ${fontSize}px ; \n opacity: ${opacity}`)=text 

block content
    main.main
        span#racetrack
            -for (let i = 19; i >= 0; --i)
                +listEntry(`rc${i}`,50*Math.pow(0.8,i),'????????',1)
        form#formx
            input#attempt(value='')
            div#border
        span#tail
            -for (let i = 0; i<=3; ++i)
                +listEntry(`te${i}`,50*Math.pow(0.8,-i-1),'',1 / Math.pow(1.7, i))