extends base

block head
    style(type='text/css').
        .searchform {
        display: block;
        font-size: 2.5rem;
        width:100%;
        display:flex;
        justify-content: center;
        align-items:center;
        }

        .searchform_input {
        background-color: #000000;
        color: hsl(0, 0%, 100%);
        width: 22rem;
        border: none;
        outline: none;
        margin: 0.5rem 0;
        font-size: 1em;
        text-align: center;
        border-radius: 0.5rem;
        }

        .dictionarytable {
        border-collapse: separate;
        border-spacing: 15px;
        }

        .searchresults {
        font-size: 2em;
        max-width:100vw;
        }

        .leftcolumn {
        text-align: right;
        width: 50%;
        }

        .rightcolumn {
        text-align: left;
        width: 45%;
        }

        .addfield {
        text-align: right;
        width: 5%;
        font-size: 1em;
        font-weight: bold;
        }

        #dictionarynotification {
        font-size: 2rem;
        }

        @media only screen and (max-width: 37.5rem) {
         .searchresults {
        font-size: 1em;
        }
        }

block content
    main.main
        div#dictionarynotification(style="visibility: hidden") add word to learning queue
        div.searchform
            input#searchdictionary.searchform_input(placeholder='Lookup a word...')
        div.searchresults
            table#dictionarytable.dictionarytable
                tbody
                    //- each result in results
                    //-     tr.nav__el 
                    //-         td.leftcolumn(translate="no")= result.target
                    //-         td.rightcolumn(translate="no")= result.solutions.toString().split(',').join(' // ')
                    //-         td.addfield +