extends base

block content
    main.main
        div.loginform
            form#forgotpasswordform
                .form__group
                    span#resetmessage Enter your email and we'll send you a code
                .form__group
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button#sendcode.nav__el.login_font Send Code