extends base

block head
    include style/_forms_style
    
block content
    main.main
        div#formholder.lkform
            form#forgotpasswordform
                .form_group
                    span#resetmessage Enter your email and we'll send you a code
                .form_group
                    input#email.form_input(type='email', placeholder='you@example.com', required, autocomplete="off")
                .form_group
                    button#sendcode.form_btn Send Code