extends base

block head
    include style/_forms_style

block content
    main.main
        div#formholder.loginform
            form#loginform
                .form__group
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .submitentries
                    button#loginbtn.nav__el.login_font Log In