extends base

block head
    include style/_forms_style

block content
    main.main
        div#formholder.lkform
            form#loginform
                .form_group
                    input#email.form_input(type='email', placeholder='you@example.com', required)
                .form_group
                    input#password.form_input(type='password', placeholder='••••••••', required, minlength='8')
                .submitentries
                    button#loginbtn.form_btn Log In