extends base

block head
    include style/_forms_style
    
block content
    main.main
        div#formholder.lkform
            form#resetpasswordform
                .form_group
                    input#email.form_input.emailattop(type='email', placeholder='you@example.com', required, value=email)
                .form_group
                    span#resetmessage We sent a code to your email!
                .form_group
                    input#token.form_input(type='text',placeholder='paste your reset code here', required, minlength='32')
                .form_group
                    input#password.form_input(type='password', placeholder='••••••••', required, minlength='8')
                .form_group
                    input#passwordConfirm.form_input(type='password', placeholder='••••••••', required, minlength='8')
                .submitentries
                    button#resetbtn.form_btn Update Password