extends base

block head
    include style/_forms_style

block content
    main.main
        form#signupform.lkform
            .form_group
                input#username.form_input(type='name', placeholder='Your Name', required, autocomplete="off")
            .form_group
                input#email.form_input(type='email', placeholder='you@example.com', required, autocomplete="off")
            .form_group
                input#password.form_input(type='password', placeholder='••••••••', required, minlength='8', autocomplete="off")
            .form_group
                input#passwordConfirm.form_input(type='password', placeholder='••••••••', required, minlength='8', autocomplete="off")
            .submitentries
                button#signupbtn.form_btn Sign Up