extends base

block head
    include style/_forms_style

block content
    main.main
        form#signupform.lkform
            .form_group
                input#username.form_input(type='name', placeholder='Your Name', required)
            .form_group
                input#email.form_input(type='email', placeholder='you@example.com', required)
            .form_group
                input#password.form_input(type='password', placeholder='••••••••', required, minlength='8')
            .form_group
                input#passwordConfirm.form_input(type='password', placeholder='••••••••', required, minlength='8')
            .submitentries
                button#signupbtn.nav_el.lkform.margin_comp Sign Up