extends base

block content
    main.main
        div.cont
            div#totalstats.statsholder
                table.statsholderTable
            div#sessionstats.statsholder
                table.statsholderTable
            div#levelbreakdown.statsholder
                table.statsholderTable
            