style(type='text/css').
    @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
    table {
    border-spacing: 0;
    }
    td {
    padding: 0;
    }
    p {
    font-size: 15px;
    }
    img {
    border: 0;
    }
    a {
    color: #ffffff;
    text-decoration: none;
    }
    @media screen and (max-width: 599.98px) {
    .logo {
    width: 300px !important;
    height: auto !important;
    }
    .codeholder{
    width:200!important;
    }
    }
    @media screen and (max-width: 399.98px) {
    .codeholder{
        font-size:10px!important;
    }
    }