style(type='text/css').
    #signupform, 
    #loginform,
    #forgotpasswordform{
        padding: 1rem 0 0 0;
        font-size: 2.5rem;
    }
    .lkform {
    text-align: center;
    font-size: 2.5rem;
    }

    .form_input,.submitentries {
    border: none;
    outline: none;
    margin: 0.25rem 0;
    text-align: center;
    font-size: 1em;
    }
    .form_input{
    max-width:90vw ;
    color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    background-color: #000000;
    }

    #forgotP {
    font-size: 0.5em;
    text-decoration: none;
    }

    #resetmessage {
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
    }

    .form_btn,
    .form_btn:link
    .form_btn:visited {
    flex-direction: row;
    color: #ffffff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    align-items: center;
    font-size:1em;
    }
    .form_btn:hover,
    .form_btn:active {
    -webkit-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem);
    filter: drop-shadow(0 0 1.25rem rgba(255, 255, 255));
    z-index: 100;
    }
    .form_btn:focus {
    outline: none;
    }

