style(type='text/css').

    header,
    .logo_container{
    height: 10rem;
    width: 70%;
    min-width: 87rem;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }
    header{
    z-index: 1000;
    justify-content: space-between;
    }
     .logo_container {
    z-index: 999;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: rgba(27, 27, 27, 0.9);
    flex-direction: column;
    }
    .filler_block{
    height:10rem; 
    position:relative; 
    display:block;
    }
    .navigation_icons{
        max-width:70%:
    }
    nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }
    .user_details {
    height:100%;
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-left: 2rem;
    white-space: nowrap;
    }
    .neutral_el,
    .nav_el,
    .nav_el:link
    .nav_el:visited {
    flex-direction: row;
    color: #ffffff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    margin-right: 2rem;
    text-align: center;
    align-items: center;
    }
    .nav_el:hover,
    .nav_el:active {
    -webkit-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem);
    filter: drop-shadow(0 0 1.25rem rgba(255, 255, 255));
    z-index: 100;
    }

    .nav_el:focus {
    outline: none;
    }

    .col_el {
        margin-right: 0;
        margin-left: 0;
    }
    .nav_shadow {
    color: #8b8b8b;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    margin-right: 2rem;
    text-align: center;
    align-items: center;
    }

    .shadow {
    position: absolute;
    width: 5rem;
    height: 3rem;
    background-color: rgba(27, 27, 27, 0.5);    
    }

    .logo {
    width: 23rem;
    height: auto;
    }


    @media screen and (max-width: 87rem) {
    header, .logo_container, .filler_block{
        width: 100% !important;
        min-width: 23rem !important;
        height: 7rem;
        min-height:7rem;
    }
    header{
        align-items: end!important;
    }
    .logo{
        width: 7rem!important;
    }
    .user_details{
        font-size: 1.5rem!important;
    }
    }

    @media screen and (max-width: 37.5rem) {
    .nav_shadow,
    .nav_el{
        margin-right: 1rem!important;
        font-size: 0.8rem!important;
    }
    .user_details{
        flex-direction: column!important;
        font-size: 1rem!important;
        margin-left: 1rem!important;
    }
    .neutral_el,
    .col_el {
        margin-right: 0!important;
        margin-left: 0!important;
        font-size:0.6rem;
    }
    .nav_icon{
        width: 2rem!important;
    }
     .shadow {
    width: 4rem;
    height: 2rem;
    }
    }

    @media screen and (max-height: 25rem) and (max-width: 25rem){
    header{
    visibility: hidden;
    }
    .logo{
        width: 7rem!important;
    }
    .logo_container,
    header, .logo_container, .filler_block{
    height: 3rem!important;
    min-height:3rem!important;
    }
    }